
@media (max-width: 1030px) {
    .navbar {
        &__items {
            a {
            margin-right: 0;
            }
        }
        &__logo {
            margin-right: 30px;
        }
    }
}

@media (max-width: 1020px) {
    .news__info {
        &-item {
            width: 100%;
        }
        &-items {
        flex-wrap: wrap;
        justify-content: center;
        }
    }
    .navbar {
        &__logo {
            margin-right: 20px;
        }

        &__items {
            a {
                align-items: center;
            }
        }
    }
}

@media (max-width: 970px) {
    .navbar {
       &__items {
           align-items: center;
            
        }
    }
}

@media (max-width: 940px) {
    .choose__info {
       &-items {
           flex-wrap: wrap;
        }
    }
}


@media (max-width: 870px) {
    .price__info {
        &-items {
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column-reverse;
        }
    }
        
}


@media (max-width: 800px) {
    .header {
        &__socials {
            margin-right: 0px;
        }
    }
}

@media (min-width: 771px) {
    .info {
        &__title {
            font-size: 0.75em;
        }
    }
}

@media (max-width: 690px) {
    .price__info-item {
        margin: 0 auto;
        }
    }


@media (max-width: 650px) {
    .navbar {
        background-image: none;
        .info  {
            margin-top: 100px;
        }
    }

    .offer__info {
        &-inner {
            position: relative;
            &::after {
                position: relative;
                content: none;
            }
        }
        
        &-commercial {
            padding-right: 10px;
        }

        &-residental {
            padding-left: 10px;
        }
    }
}

@media (max-width: 620px) {
    .header {
        &__socials {
            a {
            padding-left: 10px;
            padding-right: 10px;
            }
        }
    }

    .offer__info {
        &-inner {
            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__socials {
            margin-right: 5px;
            a {
            padding-left: 5px;
            padding-right: 5px;
            flex-wrap: nowrap;
            }
        }

        &__text {
            margin-right: 15px;
        }

    .customer__info {
        &__inner {
            padding-top: 40px;
            overflow: auto;
        }
        &__text {
            margin: 20px auto;
        }
    }
    }
}

@media (max-width: 545px) {
    .offer__info {
        &-inner {
            flex-wrap: wrap;
            flex: 1 0 50%;
        }
    }
}

@media (max-width: 515px) {
    .header {
        &__socials {
            a {
            padding-left: 5px;
            padding-right: 5px;
            }
        }
    }
}




@media (max-width: 480px) {
    .navbar {
        background-image: none;
        &__button {
            align-items: center;
        }
    }

    .customer__info {
        margin-bottom: 50px;
        &-text {
            margin-bottom: 20px;
    }
}
}
@media (max-width: 460px) and (min-width: 270px) {
    .navbar {
        &__inner {
            flex-direction: column;
        }

        &__title {
            margin-bottom: 30px;
        }

        &__items {
            margin-bottom: 20px;
        }
    }

    .header {
        &__text {
            padding-right: 10px;
            text-align: center;
        }
    }

    .footer {
        &__item-form {
            padding-right: 20px;
            min-width: 270px;
        }
    }
}

@media (max-width: 355px) {
    .footer {
        &__item-form {
            min-width: 250px;
        }
        &__info-items {
            flex-wrap: wrap;
        }

    }
}