@import 'global';
@import 'normilize';
@import 'media';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


//start header
.header {
    background-color: #ecf6fe;
    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 45px;
    }
    &__text {
        margin-top: 5px;
        font-size: 12px;
        line-height: 35px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        color: #008aff;
        span {
            font-size: 15px;
            font-weight: 400;
        }
        a {
            color: #008aff;
        }
    }

    &__socials {
        display: flex;
        margin-right: 50px;
        a {
            padding: 15px;
            &:hover {
            background-color: #e7eff3;
            } 
        }                      
        .fab {
            width: 12px;
            height: 12px;
        }
    }
}

.navbar {
    background-image: url(../images/navbar/image.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #f7fbff;
    padding-bottom: 150px;
    height: 100%;

    &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    }

    &__logo {
    display: flex;
    margin-right: 50px;
    }

    &__image {
    margin-right: 15px;
    }

    &__title {
    display: inline-block;
    margin-top: 9px;
    font-size: 24px;
    font-weight: 500;
    line-height: 19px;
    color: #008aff;
    span {
        display: block;
        font-weight: 300;
        }
    }

    &__items {
        visibility: visible;
        max-width: 740px;
        z-index: 5;
        li {
            display: inline-block;
        }
        a {
            width: 95px;
            height: 43px;
            margin-right: 5px;
            padding: 12px 20px;
            &:hover {
                background-color: rgb(0, 138, 255);
                color: #eef7ff;           
                border-radius: 30px;
            }
        }
    }

    &__button {
    button {
        padding: 12px 15px;
        border: none;
        outline-color: rgb(246, 246, 246);
        color: #474747;
        background-color: #ffe824;
        color: #474747;          
        border-radius: 30px;
        &:hover {
            background-color: #d7c210;
        }       
    }
}
}

.info {
    margin-top: 200px;
    &__inner {
        max-width: 760px;
    }
    &__subtitle {
        color: #008aff;
        font-size: 33px;
        font-weight: 300;
        margin-bottom: 35px;
        z-index: 5;
    }
    &__title {
        display: flex;
        align-items: center;
        color: #13287e;
        font-size: 68px;
        font-weight: 400;
        margin-bottom: 50px;
        z-index: 5;
    }
    &__text {
        font-size: 20px;
        line-height: 35px;
        color: #9b9ea1;
        max-width: 735px;
        padding-right: 40px;
        margin-bottom: 50px;
    }

    &__button {
        color: #474747;
        font-size: 14px;
        font-weight: 600;
            a {
                max-width: 220px;
                height: 60px;
                padding: 26px 45px;
                background-color: #ffe824;
                color: #474747;          
                border-radius: 30px;
                &:hover {
                    background-color: #d7c210;
                }
            }
        }
    }


.offer__info {
    margin-top: 150px;
    position: relative;
    &-inner {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
        text-align: center;
    }
    
    &-title {
        font-size: 33px;
        font-weight: normal;
        color: #008aff;
        text-align: center;
        margin-bottom: 12px;
    }
    &-subtitle {
        font-size: 20px;
        font-weight: 300;
        color: #474747;
        text-align: center;
        margin-bottom: 64px;
    }

    &-image {
        margin-bottom: 60px;
    }

    &-nav {
        max-width: 550px;
        margin-bottom: 100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        li {
            padding-left: 12px;
            margin-bottom: 20px;
            font-size: 20px;
            font-size: 20px;
            line-height: 35px;
            font-weight: 400;
            color: #2272b8;
            position: relative;
        }
    }
    &-text {
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
        color: #474747;
        margin-bottom: 55px;
        max-width: 500px;
    }

    &-button {
        margin-top: 80px;
        margin-bottom: 150px;
        color: #474747;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        a {
            max-width: 220px;
            height: 65px;
            padding: 25px;
            color: #474747;
            display: inline-block;
            background-color: #ffe824;
            border-radius: 30px;
            &:hover {
                background-color: #d7c210;
            }
        }
    }
}



.choose__info {
    border-top: 1px solid #d8d8d8;
    padding-top: 150px;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    
    &-title {
        color: #13287e;
        font-size: 33px;
        margin-bottom: 105px;
        text-align: center;
    }

    &-items {
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
        text-align: center;
        padding-right: 20px;
    }

    &-item {
        max-width: 250px;
    }
    &-logo {
        margin-bottom: 43px;
    }

    &-subtitle {
        flex-wrap: nowrap;
        font-size: 28px;
        color: #13287e;
        margin-bottom: 43px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 125px;
            border: 1px solid #ffed50;
            bottom: -20px;
            right: 25%;
        }
    }

    &-text {
        margin-bottom: 50px;
        font-size: 19px;
        line-height: 33px;
        font-weight: 300;
        color: #474747;
    } 

}

.customer__info {
    background: url(../images/customers/back-customers.png);

    &-inner {
        background-color: rgba(255, 255, 255, 0.8);
        background-repeat: no-repeat;
        background-position: top center;
        text-align: center;
        padding-top: 80px;
    }

    &-title {
        font-size: 28px;
        color: #13287e;
    }

    &-text {
        max-width: 675px;
        margin: 45px auto;
        font-size: 19px;
        line-height: 33px;
        font-weight: 300;
        color: #131212;
    }

    &-logo {
        margin-bottom: 30px;
    }

    &-name {
        margin-top: 30px;
        color: #f7b74d;
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    &-city {
        color: #474747;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 70px;
    }
}





.price__info {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #fdfdfd;

    &-inner {
        text-align: center;
    }

    &-title {
        font-size: 28px;
        color: #13287e;
        margin-bottom: 55px;
    }

    &-text {
        max-width: 675px;
        margin: 0 auto;
        font-size: 19px;
        line-height: 33px;
        font-weight: 300;
        color: #474747;
        margin-bottom: 65px;
    }
    
    &-items {
        display: flex;
        justify-content: space-between;
    }
    
    &-item {
        max-width: 340px;
        min-height: 525px;
        border: 1px solid #f5f5f5;
        background-color: #fff;
        border-radius: 13px;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 30px 0px 0px rgba(179, 179, 179, 0.15);
    }
    .item__name {
        font-size: 26px;
        color: #474747;
        padding: 25px 83px;
        border-bottom: 1px solid #f5f5f5;
    }

    .item__price {
        padding: 20px 70px 23px 80px;
        font-size: 119px;
        color: #008aff;
        font-weight: 600;
        border-bottom: 1px solid #f5f5f5;
        position: relative;
        span {
            display: block;
            font-size: 16px;
            font-weight: 300;
            color: #474747;
        }
    
        &::before {
            position: absolute;
            content: "$";
            font-size: 24px;
            color: #474747;
            top: 36px;
            font-weight: 400;
            left: 25%;
        }
    
        &::after {
            position: absolute;
            content: "95";
            font-size: 24px;
            color: #474747;
            top: 36px;
            font-weight: 400;
            right: 18%;
        }
    }
    .item__case {
        font-size: 17px;
        padding: 20px 55px 20px 35px;
        line-height: 35px;
        color: #474747;
        li {
            margin-bottom: 18px;
        }
        span {
            font-weight: 400;
            color: #008aff;
        }
    }
    
    .item__button {
        font-size: 14px;
        
        padding-bottom: 20px;
        a {
            padding: 25px 60px;
            background-color: #ffe824;
            color: #474747;
            border-radius: 30px;
            &:hover {
                background-color: #d7c210;
            }
        }
    } 
}


.news { 
    background-color: #1b6fb4;
    margin-bottom: 130px;
    
    &__info-inner {
        padding-top: 130px;
        padding-bottom: 50px;
    }

    &__info-title {
        text-align: center;
        font-size: 33px;
        color: #13287e;
        margin-bottom: 50px;
    }

    &__info-text {
        max-width: 675px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 55px;
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
        color: #474747;
    }

    &__info-items {
        display: flex;
        justify-content: space-between;
    }

    &__info-item {
        text-align: center;
        margin-bottom: 20px;
    }

    &__item-image {
        margin-bottom: 55px;
    }
    &__item-subtitle {
        font-size: 26px;
        font-weight: 300;
        color: #13287e;
        margin-bottom: 35px;
        padding-right: 25px;
        text-align: center;
        span {
            display: block;
        }
    }
    &__item-text {
        max-width: 400px;
        text-align: center;
        margin-bottom: 35px;
        padding-right: 15px;
        font-size: 20px;
        line-height: 35px;
        color: #474747;
        font-weight: 300;
        margin: 0 auto 35px;
    }
    &__item-link {
        font-size: 12px;
        text-align: center;
        line-height: 35px;
        font-weight: 400;
        color: #008aff;
        &:hover {
            background-color: rgba(0, 138, 255, 0.3);
            border-radius: 30px;
        }
    }
}


.footer {
    background-image: url(../images/footer/footer-back.png);
    background-repeat: no-repeat;
    background-position: top center;
    object-fit: fill;
    border-bottom: 1px solid #d8d8d8;
    

    &__info-inner {
        background-color: rgba(255, 255, 255, 0.7);
        padding-top: 100px;
    }
    
    &__info-items {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        
    }

    &__info-item {
        margin-top: 50px;
        overflow: auto;
    }

    &__logo {
        color: #2e2c2c;
        font-size: 43px;
        line-height: 34px;
        font-weight: 700;
        padding: 6px 0px 0px 35px;
    }

    &__info-button {
        margin: 40px 0;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        a {
            padding: 25px;
            color: #2e2c2c;
            background-color: #ffe824;
            border-radius: 30px;
            &:hover {
                background-color: #d7c210;
            }
        }
    }

    &__item-title {
        font-size: 24px;
        line-height: 35px;
        color: #2e2c2c;
        font-weight: 700;
    }

    &__item-phone {
        font-size: 20px;
        line-height: 35px;
        color: #2e2c2c;
    }
    
    &__item-city {
        font-size: 20px;
        line-height: 35px;
        color: #2e2c2c;
    }

    &__item-country {
        font-size: 20px;
        line-height: 35px;
        color: #2e2c2c;
    }

    &__item-link {
        color: #008aff;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        &:hover {
            background-color: rgba(0, 138, 255, 0.3);
            border-radius: 30px;
        }
    }

    &__item-subscribe {
        font-size: 24px;
        line-height: 30px;
        color: #2e2c2c;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__item-form {
        margin-bottom: 20px;
        max-width: 270px;
        height: 50px;
        border: 1px solid #474747;
        font-size: 16px;
        line-height: 30px;
        color: #2e2c2c;
        padding: 11px 15px;
        border-radius: 5px;
        ::button {
            font-size: 16px;
            font-weight: 400;
            padding-right: 14px;
            margin-left: 170px;
        }
    }

    &__item-socials {
        display: flex;
        margin-top: 15px;
        margin-right: 30px;
        a {
            padding: 15px;
            color: #008aff;
            margin-right: 16px;
            &:hover {
                background-color: #d3d9db;
            } 
        }
    
        .fab {
            width: 20px;
            height: 20px;
        }
    }

    &__info-copyright {
        font-size: 16px;
        line-height: 30px;
        color: #2e2c2c;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
}



.modal {
    position: fixed;
    display: flex;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    z-index: 50;
    background-color: #2880ce;
    max-width: 730px;
    width: 100%;
    padding: 90px 0;
    border-radius: 5px;
    &--hidden {
        display: none;
    }
    form {
        max-width: 400px;
        margin: 0 auto;
    }
    input {
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #a5981f;
        color: #fff;
        font-size: 20px;
        padding-left: 40px;
        display: block;
        width: 100%;
        border-radius: 4px;
        &::placeholder {
            color: #fff;
            font-size: 20px;
        }
    }
}
    .modal-footer {
        text-align: center;
    }

    #submit {
        width: 100%;
        padding: 17px;
        background-color: #a5981f;
        color: #fff;
        border: none;
        margin: 20px auto;
        max-width: 200px;
        text-align: center;
        border-radius: 3px;
        font-family: 700;
        box-shadow: 0px 2px 2px 0px rgba(50, 144, 207, 0.75); 
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            background-color:rgb(128, 214, 29)
        }
    }

    .close {
        cursor: pointer;
        background-color: #d6c73d;
        color: #fff;
        font-family: 700;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        border: none;
        border-radius: 2px;
        right: 0;
        outline-color:#f0db24;
    }

    label {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;
        }
    }

    .modal-header {
        min-width: 500px;
        margin: 0 auto;
    }
    .login__title {
        text-transform: uppercase;
        color: #fff;
        font-size: 48px;
        margin-bottom: 40px;
        font-family: 700;
    }
    

    .overlay {        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: .3s all;
        pointer-events: none;
        &--hidden {
            display: none;
        }
    }
    

    



@media (max-width: 1030px) {
    .navbar {
        &__items {
            a {
            margin-right: 0;
            }
        }
        &__logo {
            margin-right: 30px;
        }
    }
}

@media (max-width: 1020px) {
    .news__info {
        &-item {
            width: 100%;
        }
        &-items {
        flex-wrap: wrap;
        justify-content: center;
        }
    }
    .navbar {
        &__logo {
            margin-right: 20px;
        }

        &__items {
            a {
                align-items: center;
            }
        }
    }
}

@media (max-width: 970px) {
    .navbar {
       &__items {
           align-items: center;
            
        }
        .price__info-item.three {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 940px) {
    .choose__info {
       &-items {
           flex-wrap: wrap;
        }
    }
}


@media (max-width: 870px) {
    .price__info {
        &-items {
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column-reverse;
        }
    }
        
}


@media (max-width: 800px) {
    .header {
        &__socials {
            margin-right: 0px;
        }
    }
}



@media (min-width: 770px) {
    .footer__info-items {
        flex-wrap: wrap;
    }
}

@media (min-width: 540px) {
    .footer__info-items {
        flex-wrap: wrap;
    }
}

@media (min-width: 440px) {
    .footer__info-items {
        flex-wrap: wrap;
    }
}


@media (max-width: 650px) {
    .navbar {
        background-image: none;
        .info  {
            margin-top: 100px;
        }
    }

    .offer__info {
        &-inner {
            position: relative;
            &::after {
                position: relative;
                content: none;
            }
        }
        
        &-commercial {
            padding-right: 10px;
        }

        &-residental {
            padding-left: 10px;
        }
    }
}

@media (max-width: 620px) {
    .header {
        &__socials {
            a {
            padding-left: 10px;
            padding-right: 10px;
            }
        }
    }

    .offer__info {
        &-inner {
            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__socials {
            margin-right: 5px;
            a {
            padding-left: 5px;
            padding-right: 5px;
            flex-wrap: nowrap;
            }
        }

        &__text {
            margin-right: 15px;
        }

    .customer__info {
        &__inner {
            padding-top: 40px;
            overflow: auto;
        }
        &__text {
            margin: 20px auto;
        }
    }
    }
}

@media (max-width: 545px) {
    .offer__info {
        &-inner {
            flex-wrap: wrap;
            flex: 1 0 50%;
        }
    }
}

@media (max-width: 515px) {
    .header {
        &__socials {
            a {
            padding-left: 5px;
            padding-right: 5px;
            }
        }
    }
}


@media (max-width: 480px) {
    .navbar {
        background-image: none;
        &__button {
            align-items: center;
        }
    }

    .customer__info {
        margin-bottom: 50px;
        &-text {
            margin-bottom: 20px;
    }
}
}
@media (min-width: 350px) {
    .footer {
        &__info-items {
            flex-wrap: wrap;
        }

        &__info-item {
            margin-bottom: 30px;
        }
    }
}
